{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <div class="modal">
        <form class="modal-content animate" method="post">
            {% csrf_token %}
            <div class="imgcontainer">
                <img src="{% static 'image/img_avatar.png' %}" class="avatar">
            </div>
            <div class="container">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <br>
                <input type="checkbox" name="remember">Remember Login Details
                <button type="submit" id="login-button">Login</button>
                <label>
                    <p>Forgot <a href="#">Password?</a></p>
                </label>
                <label>
                    <p>No Account? <a href="{% url 'parcTest:signuppage' %}">Sign Up</a></p>
                </label>
                <label><a href="{% url 'parcTest:homepage' %}>Back to Home</a></label>
            </div>
        </form>
    </div>
</body>
</html>

<script>
    var loginButton = document.getElementById("login-button");
    loginButton.addEventListener("click", function () {
        window.location.href = "{% url 'parcTest:loginpage' %}";
    });
</script>
